.wrapper {
  display: flex;
  flex-direction: column;
  margin: 48px 100px 64px 105px;
}

.wrapper h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 0.05em;
  color: #71717a;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.wrapper p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #18181b;
  margin-bottom: 16px;
}

.wrapper strong {
  color: #f2994a;
  font-weight: 500;
}
